---
import Layout from '../layouts/Layout.astro';

const baseUrl = (import.meta.env.BASE_URL || '/').replace(/\/$/, '') + '/';

// Consultant data organized by cohort
const consultantCohorts = [
	{
		cohort: "2022 Fall",
		management: [
			{ name: "Benjamin Kane", year: "2025", major: "Business Economics, Accounting", linkedin: "https://www.linkedin.com/in/ben-kane10/", image: "BenjaminKane" },
			{ name: "Chidera Okonkwo", year: "2026", major: "Chemical Engineering, Data Science Minor", linkedin: "https://www.linkedin.com/in/chidera-okonkwo/", image: "ChideraOkonkwo" },
			{ name: "Khushi Patel", year: "2026", major: "Civil Engineering, Entrepreneurship Minor", linkedin: "https://www.linkedin.com/in/khushipatel22/", image: "KhushiPatel" },
			{ name: "Sophie Tan", year: "2025", major: "History and Business Economics", linkedin: "https://www.linkedin.com/in/sophie-tan-042714233/", image: "SophieTan" },
			{ name: "Tatiana Strauss", year: "2025", major: "Behavioral Economics, Strategic Management, and Organizational Effectiveness", linkedin: "https://www.linkedin.com/in/tatianastrauss/", image: "TatianaStrauss"}
		],
		health: [
			{ name: "Allyson Kang", year: "2025", major: "Psychobiology", linkedin: "https://www.linkedin.com/in/allyson-kang/", image: "AllysonKang" },
			{ name: "Kyle Hardnett", year: "2025", major: "Human Biology and Society", linkedin: "#", image: "KyleHardnett" }
		]
	},
	{
		cohort: "2023 Winter",
		management: [
			{ name: "Akash Kura", year: "2026", major: "Pre Cognitive Science", linkedin: "https://www.linkedin.com/in/akash-kura-39151a215/", image: "AkashKura" },
			{ name: "Anna Li", year: "2026", major: "Cognitive Science", linkedin: "https://www.linkedin.com/in/annali9381/", image: "AnnaLi" },
			{ name: "Brittany Ishida", year: "2026", major: "Business Economics", linkedin: "https://www.linkedin.com/in/brittany-ishida/", image: "BrittanyIshida" },
			{ name: "Christian Byun", year: "2026", major: "Business Economics, Stats and Data Science", linkedin: "https://www.linkedin.com/in/christian-byun1/", image: "ChristianByun" },
			{ name: "Eden Tan", year: "2026", major: "Cognitive Science", linkedin: "https://www.linkedin.com/in/edenraetan/", image: "EdenTan" },
			{ name: "Junho Suh", year: "2026", major: "Business Economics, Stats and Data Science", linkedin: "https://www.linkedin.com/in/junho-suh/", image: "JunhoSuh" },
			{ name: "Nalin Jayaswal", year: "2026", major: "Economics, Climate Science", linkedin: "https://www.linkedin.com/in/nalinjayaswal/", image: "NalinJayaswal" },
			{ name: "Samantha Fong", year: "2025", major: "Psychology, Communications", linkedin: "https://www.linkedin.com/in/samantha-fong851/", image: "SamanthaFong" },
			{ name: "William Siyuan Li", year: "2026", major: "Economics, Cognitive Science", linkedin: "https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Afsd_profile%3AACoAADLZUA0B6HhYuow9NJh3LGAA_kIJawUD3M8&keywords=william%20siyuan%20li&origin=RICH_QUERY_SUGGESTION&position=0&searchId=03920d87-4258-4e49-ac2c-938365fad064&sid=*FX&spellCorrectionEnabled=false", image: "WilliamSiyuanLi" }
		],
		health: [
			{ name: "Ajeeth Iyer", year: "2026", major: "Neuroscience", linkedin: "https://www.linkedin.com/in/ajeethiyer/", image: "AjeethIyer" },
			{ name: "Au Vo", year: "2025", major: "Human Biology & Society", linkedin: "https://www.linkedin.com/in/au-vo/", image: "AuVo" },
			{ name: "Joah Lee", year: "2026", major: "Economics", linkedin: "https://www.linkedin.com/in/jjoahlee/", image: "JoahLee" },
			{ name: "Sarah Wang", year: "2025", major: "Human Biology & Society", linkedin: "https://www.linkedin.com/in/sarah-wang-35269a1b0/", image: "SarahWang" },
			{ name: "Sreeja Polkampally", year: "2025", major: "Computational and Systems Biology, Spanish", linkedin: "https://www.linkedin.com/in/sreeja-polkampally/", image: "SreejaPolkampally" }
		]
	},
	{
		cohort: "2023 Fall",
		management: [
			{ name: "Aarushi Maheshwari", year: "2027", major: "Economics and Political Science", linkedin: "https://www.linkedin.com/in/aarushi-maheshwari/", image: "Aarushi" },
			{ name: "Amber Yu", year: "2026", major: "Cognitive Science", linkedin: "https://www.linkedin.com/in/amber-yu-a669811b2/", image: "AmberYu" },
			{ name: "Claire Li", year: "2027", major: "Computer Science and Engineering", linkedin: "https://www.linkedin.com/in/claire-m-li/", image: "ClaireLi" },
			{ name: "Harry Hu", year: "2027", major: "Economics and Data Science", linkedin: "https://www.linkedin.com/in/harry-y-hu-/", image: "Harry" },
			{ name: "Khush Parikh", year: "2027", major: "Linguistics & Computer Science", linkedin: "https://www.linkedin.com/in/khushparikh/", image: "KhushParikh" },
			{ name: "Mark Lin", year: "2026", major: "Business Economics", linkedin: "https://www.linkedin.com/in/markjlin13/", image: "MarkLin" },
			{ name: "Palak Parikh", year: "2026", major: "Computational and Systems Biology", linkedin: "https://www.linkedin.com/in/palak-parikh-b3b7a7315/", image: "PalakParikh" },
			{ name: "Simran Chainani", year: "2026", major: "Mathematics/Economics with a concentration in Computing", linkedin: "https://www.linkedin.com/in/simran-chainani/", image: "SimranChainani" }
		],
		health: [
			{ name: "Aashi Jhawer", year: "2027", major: "Human Biology & Society + Business Economics", linkedin: "https://www.linkedin.com/in/aashi-jhawer/", image: "Aashi" },
			{ name: "Ahmad Ismail", year: "2025", major: "Molecular, Cell, and Developmental Biology + Minor in Public Health", linkedin: "https://www.linkedin.com/in/ahmad--ismail/", image: "AhmadIsmail" },
			{ name: "Balin Patel", year: "2026", major: "Business Economics", linkedin: "https://www.linkedin.com/in/balinpatel/", image: "BalinPatel" },
			{ name: "Emily Zhao", year: "2027", major: "Economics & Cognitive Science", linkedin: "https://www.linkedin.com/in/emilyzhao-/", image: "Emily" },
			{ name: "Jonathan Chen", year: "2027", major: "Computational and Systems Biology", linkedin: "https://www.linkedin.com/in/jchen5/", image: "JonathanChen" },
			{ name: "Maimuna Chowdhury", year: "2026", major: "Business Econ/ Data Science Engineering", linkedin: "https://www.linkedin.com/in/maimuna-chowdhury707/", image: "MaimunaChowdhury" }
		]
	},
	{
		cohort: "2024 Winter",
		management: [
			{ name: "Akshay Gajjar", year: "2027", major: "Economics | Data Science Engineering", linkedin: "https://www.linkedin.com/in/akshay-gajjar22/", image: "AkshayGajjar" },
			{ name: "Jodi Chung", year: "2027", major: "Communications & Political Science", linkedin: "https://www.linkedin.com/in/jodi-chung/", image: "JodiChung" },
			{ name: "Noah Cylich", year: "2027", major: "Computer Science", linkedin: "https://www.linkedin.com/in/noahcylich/", image: "NoahCylich" },
			{ name: "Saumil Sharma", year: "2026", major: "Economics", linkedin: "https://www.linkedin.com/in/saumil-sharma-35b2041a1/", image: "SaumilSharma" },
			{ name: "Shaurya Jain", year: "2027", major: "Economics", linkedin: "https://www.linkedin.com/in/shauryajainn/", image: "ShauryaJain" }
		],
		health: [
			{ name: "Anya Modi", year: "2027", major: "Computational and Systems Biology", linkedin: "https://www.linkedin.com/in/anya-modi-912014245/", image: "AnyaModi" },
			{ name: "Aravinth Ruppa", year: "2026", major: "Business Economics + Microbiology, Immunology, & Molecular Genetics", linkedin: "https://www.linkedin.com/in/aravinth-ruppa-b282381b7/", image: "AravinthRuppa" },
			{ name: "Archi Patel", year: "2027", major: "Computational and Systems Biology; Minor: English", linkedin: "https://www.linkedin.com/in/archi-patel-69b8b0167/", image: "archi" },
			{ name: "Diya Muchhala", year: "2027", major: "Microbiology, Immunology and Molecular Genetics Major", linkedin: "https://www.linkedin.com/in/diya-muchhala-b24863200/", image: "DiyaMuchhala" },
			{ name: "Kaili Tam", year: "2026", major: "Computational and Systems Biology", linkedin: "https://www.linkedin.com/in/kailitam/", image: "KailiTam" },
			{ name: "Sarah Ben Makhlouf", year: "2027", major: "Microbiology, Immunology, and Molecular Genetics", linkedin: "https://www.linkedin.com/in/sarah-ben-makhlouf-b1a3352a9/", image: "SarahBenMakhlouf" },
			{ name: "Sydney Dang", year: "2027", major: "Molecular, Cell, and Developmental Biology", linkedin: "https://www.linkedin.com/in/sydney-dang/", image: "SydneyDang" },
			{ name: "Zoe Shin", year: "2027", major: "Human Biology and Society", linkedin: "https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Afsd_profile%3AACoAADaFzVcBqfSsKUEaZwwM5rMOjzxHjFNYarw&keywords=zoe%20shin&origin=RICH_QUERY_SUGGESTION&position=0&searchId=eeb64542-c877-4c62-be5f-d7c7b5709c77&sid=(kI&spellCorrectionEnabled=false", image: "ZoeShin" }
		]
	},
	{
		cohort: "2024 Fall",
		management: [
			{ name: "Alex Munzon", year: "2027", major: "Business Economics and Cognitive Science", linkedin: "https://www.linkedin.com/in/alexander-munzon/", image: "AlexMunzon" },
			{ name: "Jaewook Cho", year: "2028", major: "Math & CS", linkedin: "https://www.linkedin.com/in/jaewook-cho/", image: "JaewookCho" },
			{ name: "Jun Moon", year: "2028", major: "Statistics and Data Science", linkedin: "https://www.linkedin.com/in/junhmoon/", image: "Jun"},
			{ name: "Paul Antoine Joly", year: "2028", major: "Political Science and Math/Economics", linkedin: "https://www.linkedin.com/in/paulantoinejoly/", image: "PaulAntoineJoly" },
			{ name: "Renee Yan", year: "2028", major: "Business Economics", linkedin: "https://www.linkedin.com/in/reneeyan28/", image: "Renee"},
			{ name: "Ryan Chao", year: "2028", major: "Economics and Cognitive Science", linkedin: "https://www.linkedin.com/in/ryan-chao06/", image: "RyanChao" },
			{ name: "Sydney Lin", year: "2028", major: "Political Science and Economics", linkedin: "https://www.linkedin.com/in/sydney-anne-lin/", image: "Sydney"}
		],
		health: [
			{ name: "Abigail Hsu", year: "2028", major: "Business Economics and Cognitive Science", linkedin: "https://www.linkedin.com/in/abigailhsu/", image: "AbigailHsu" },
			{ name: "Hetvi Trivedi", year: "2027", major: "Biomedical Engineering", linkedin: "https://www.linkedin.com/in/hetvi-trivedi2026/", image: "hetvi" },
			{ name: "Nishil Gandhi", year: "2027", major: "Psychobiology", linkedin: "https://www.linkedin.com/in/nishil-gandhi/", image: "NishilGandhi" },
			{ name: "Shreya Lakkaraju", year: "2026", major: "Molecular Biology and Public Health", linkedin: "https://www.linkedin.com/in/shreyalakkaraju/", image: "ShreyaLakkaraju" },
			{ name: "Zachary Pelikh", year: "2028", major: "Business Economics", linkedin: "https://www.linkedin.com/in/zachary-pelikh/", image: "ZacharyPelikh" }
		]
	},
	{
		cohort: "2025 Winter",
		management: [
			{ name: "Aaron Knibbe", year: "2028", major: "Business Economics and Accounting", linkedin: "https://www.linkedin.com/in/aaron-knibbe/", image: "AaronKnibbe" },
			{ name: "Alain Izawa", year: "2028", major: "Business Economics", linkedin: "https://www.linkedin.com/in/alain-izawa/", image: "AlainIzawa" },
			{ name: "Amanda Lee", year: "2028", major: "Psychology & Global Studies", linkedin: "https://www.linkedin.com/in/amandal35/", image: "AmandaLee" },
			{ name: "Maxwell Rubenstein", year: "2028", major: "Mathematics Economics", linkedin: "https://www.linkedin.com/in/maxwell-rubenstein/", image: "MaxwellRubenstein" },
			{ name: "Reese Morio", year: "2028", major: "Business Economics", linkedin: "https://www.linkedin.com/in/reesemorio/", image: "reese" },
			{ name: "Vlad Plyushchenko", year: "2028", major: "Computer Science", linkedin: "https://www.linkedin.com/in/vladplyushchenko/", image: "VladPlyushchenko" }
		],
		health: [
			{ name: "Arnav Kalapala", year: "2028", major: "Neuroscience", linkedin: "https://www.linkedin.com/in/arnav-kalapala/", image: "ArnavKalapala" },
			{ name: "Haley Lee", year: "2028", major: "Molecular Cell and Developmental Biology", linkedin: "https://www.linkedin.com/in/haleylee5/", image: "HaleyLee" },
			{ name: "Lauren Naseib", year: "2028", major: "TBD", linkedin: "https://www.linkedin.com/in/lauren-naseib-/", image: "lauren" },
			{ name: "Richa Thakre", year: "2028", major: "Computational and Systems Biology", linkedin: "https://www.linkedin.com/in/richa-thakre/", image: "RichaThakre" },
			{ name: "Srinidhi Sampath", year: "2028", major: "Physiological Sciences", linkedin: "https://www.linkedin.com/in/srinidhisampath05/", image: "SrinidhiSampath" }
		]
	}
];
---

<Layout title="Our Team - Bruin Strategy Network" description="Meet the executive team leading BSN at UCLA">
	<section class="relative py-40 overflow-hidden">
		<!-- Background Image -->
		<div class="absolute inset-0">
			<img src={`${baseUrl}BSN_group_alc.JPG`} alt="BSN Executive Team" class="w-full h-full object-cover">
			<!-- Dark blue overlay for text readability -->
			<div class="absolute inset-0 bg-bsn-dark-navy/65"></div>
		</div>

		<!-- Content -->
		<div class="relative z-10 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
			<h1 class="text-5xl lg:text-6xl font-bold text-white font-display mb-6">
				Our Team
			</h1>
		</div>
	</section>

	<section class="py-20 relative overflow-hidden">
		<!-- Parallax Background -->
		<div class="absolute inset-0 parallax-bg" style={`background-image: url('${baseUrl}ourteambg1.jpg'); background-size: cover; background-position: center; background-attachment: fixed; background-repeat: no-repeat;`}></div>
		<!-- Dark overlay for text readability -->
		<div class="absolute inset-0 bg-bsn-dark-navy/70"></div>

		<div class="relative z-10 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="text-center mb-16">
				<h2 class="text-4xl lg:text-5xl font-bold text-white font-display mb-6">
					Executive Board
				</h2>
			</div>

			<!-- Team Grid -->
			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-8 executive-grid">
				<!-- Aarushi Maheshwari -->
				<div class="team-card group cursor-pointer">
					<!-- Avatar with Overlay -->
					<div class="relative overflow-hidden rounded-2xl aspect-square mb-4">
						<img src={`${baseUrl}headshots/Aarushi.png`} alt="Aarushi Maheshwari" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110">
						<!-- Gradient Overlay -->
						<div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
						<!-- LinkedIn Icon -->
						<a href="https://www.linkedin.com/in/aarushi-maheshwari/" target="_blank" rel="noopener noreferrer" 
						   class="absolute top-4 right-4 w-14 h-14 bg-white/20 backdrop-blur-sm rounded-full flex items-center justify-center text-white hover:bg-bsn-blue hover:scale-110 transition-all duration-200 opacity-0 group-hover:opacity-100" 
						   aria-label="Aarushi Maheshwari LinkedIn">
							<svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
								<path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
							</svg>
						</a>
						<!-- Info Overlay -->
						<div class="absolute bottom-0 left-0 right-0 p-4 text-white transform translate-y-2 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-300">
							<p class="text-sm font-medium opacity-90">Economics and Political Science</p>
							<p class="text-xs opacity-80 mt-1">Class of 2027</p>
						</div>
					</div>
					<!-- Name and Title -->
					<div class="text-center space-y-1">
						<h3 class="text-lg font-bold text-white font-display group-hover:text-bsn-light-blue transition-colors duration-200">
							Aarushi Maheshwari
						</h3>
						<p class="text-sm text-gray-200 font-medium leading-tight">
							Co-President
						</p>
					</div>
				</div>

				<!-- Aashi Jhawer -->
				<div class="team-card group cursor-pointer">
					<div class="relative overflow-hidden rounded-2xl aspect-square mb-4">
						<img src={`${baseUrl}headshots/Aashi.png`} alt="Aashi Jhawer" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110">
						<div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
						<a href="https://www.linkedin.com/in/aashi-jhawer/" target="_blank" rel="noopener noreferrer" 
						   class="absolute top-4 right-4 w-14 h-14 bg-white/20 backdrop-blur-sm rounded-full flex items-center justify-center text-white hover:bg-bsn-blue hover:scale-110 transition-all duration-200 opacity-0 group-hover:opacity-100" 
						   aria-label="Aashi Jhawer LinkedIn">
							<svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
								<path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
							</svg>
						</a>
						<div class="absolute bottom-0 left-0 right-0 p-4 text-white transform translate-y-2 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-300">
							<p class="text-sm font-medium opacity-90">Human Biology & Society and Business Economics</p>
							<p class="text-xs opacity-80 mt-1">Class of 2027</p>
						</div>
					</div>
					<div class="text-center space-y-1">
						<h3 class="text-lg font-bold text-white font-display group-hover:text-bsn-light-blue transition-colors duration-200">
							Aashi Jhawer
						</h3>
						<p class="text-sm text-gray-200 font-medium leading-tight">
							Co-President
						</p>
					</div>
				</div>

				<!-- Archi Patel -->
				<div class="team-card group cursor-pointer">
					<div class="relative overflow-hidden rounded-2xl aspect-square mb-4">
						<img src={`${baseUrl}headshots/archi.png`} alt="Archi Patel" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110">
						<div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
						<a href="https://www.linkedin.com/in/archi-patel-69b8b0167/" target="_blank" rel="noopener noreferrer" 
						   class="absolute top-4 right-4 w-14 h-14 bg-white/20 backdrop-blur-sm rounded-full flex items-center justify-center text-white hover:bg-bsn-blue hover:scale-110 transition-all duration-200 opacity-0 group-hover:opacity-100" 
						   aria-label="Archi Patel LinkedIn">
							<svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
								<path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
							</svg>
						</a>
						<div class="absolute bottom-0 left-0 right-0 p-4 text-white transform translate-y-2 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-300">
							<p class="text-sm font-medium opacity-90">Computational Systems Biology & English</p>
							<p class="text-xs opacity-80 mt-1">Class of 2027</p>
						</div>
					</div>
					<div class="text-center space-y-1">
						<h3 class="text-lg font-bold text-white font-display group-hover:text-bsn-light-blue transition-colors duration-200">
							Archi Patel
						</h3>
						<p class="text-sm text-gray-200 font-medium leading-tight">
							Internal Vice President
						</p>
					</div>
				</div>

				<!-- Emily Zhao -->
				<div class="team-card group cursor-pointer">
					<div class="relative overflow-hidden rounded-2xl aspect-square mb-4">
						<img src={`${baseUrl}headshots/Emily.png`} alt="Emily Zhao" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110">
						<div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
						<a href="https://www.linkedin.com/in/emilyzhao-/" target="_blank" rel="noopener noreferrer" 
						   class="absolute top-4 right-4 w-14 h-14 bg-white/20 backdrop-blur-sm rounded-full flex items-center justify-center text-white hover:bg-bsn-blue hover:scale-110 transition-all duration-200 opacity-0 group-hover:opacity-100" 
						   aria-label="Emily Zhao LinkedIn">
							<svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
								<path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
							</svg>
						</a>
						<div class="absolute bottom-0 left-0 right-0 p-4 text-white transform translate-y-2 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-300">
							<p class="text-sm font-medium opacity-90">Economics & Cognitive Science</p>
							<p class="text-xs opacity-80 mt-1">Class of 2027</p>
						</div>
					</div>
					<div class="text-center space-y-1">
						<h3 class="text-lg font-bold text-white font-display group-hover:text-bsn-light-blue transition-colors duration-200">
							Emily Zhao
						</h3>
						<p class="text-sm text-gray-200 font-medium leading-tight">
							Internal Vice President
						</p>
					</div>
				</div>

				<!-- Harry Hu -->
				<div class="team-card group cursor-pointer">
					<div class="relative overflow-hidden rounded-2xl aspect-square mb-4">
						<img src={`${baseUrl}headshots/Harry.png`} alt="Harry Hu" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110">
						<div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
						<a href="https://www.linkedin.com/in/harry-y-hu-/" target="_blank" rel="noopener noreferrer" 
						   class="absolute top-4 right-4 w-14 h-14 bg-white/20 backdrop-blur-sm rounded-full flex items-center justify-center text-white hover:bg-bsn-blue hover:scale-110 transition-all duration-200 opacity-0 group-hover:opacity-100" 
						   aria-label="Harry Hu LinkedIn">
							<svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
								<path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
							</svg>
						</a>
						<div class="absolute bottom-0 left-0 right-0 p-4 text-white transform translate-y-2 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-300">
							<p class="text-sm font-medium opacity-90">Economics and Data Science</p>
							<p class="text-xs opacity-80 mt-1">Class of 2027</p>
						</div>
					</div>
					<div class="text-center space-y-1">
						<h3 class="text-lg font-bold text-white font-display group-hover:text-bsn-light-blue transition-colors duration-200">
							Harry Hu
						</h3>
						<p class="text-sm text-gray-200 font-medium leading-tight">
							External Vice President - Management
						</p>
					</div>
				</div>

				<!-- Hetvi Trivedi -->
				<div class="team-card group cursor-pointer">
					<div class="relative overflow-hidden rounded-2xl aspect-square mb-4">
						<img src={`${baseUrl}headshots/hetvi.png`} alt="Hetvi Trivedi" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110">
						<div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
						<a href="https://www.linkedin.com/in/hetvi-trivedi2026/" target="_blank" rel="noopener noreferrer" 
						   class="absolute top-4 right-4 w-14 h-14 bg-white/20 backdrop-blur-sm rounded-full flex items-center justify-center text-white hover:bg-bsn-blue hover:scale-110 transition-all duration-200 opacity-0 group-hover:opacity-100" 
						   aria-label="Hetvi Trivedi LinkedIn">
							<svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
								<path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
							</svg>
						</a>
						<div class="absolute bottom-0 left-0 right-0 p-4 text-white transform translate-y-2 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-300">
							<p class="text-sm font-medium opacity-90">Public Health</p>
							<p class="text-xs opacity-80 mt-1">Class of 2026</p>
						</div>
					</div>
					<div class="text-center space-y-1">
						<h3 class="text-lg font-bold text-white font-display group-hover:text-bsn-light-blue transition-colors duration-200">
							Hetvi Trivedi
						</h3>
						<p class="text-sm text-gray-200 font-medium leading-tight">
							External Vice President - Health
						</p>
					</div>
				</div>

				<!-- Lauren -->
				<div class="team-card group cursor-pointer">
					<div class="relative overflow-hidden rounded-2xl aspect-square mb-4">
						<img src={`${baseUrl}headshots/lauren.png`} alt="Lauren" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110">
						<div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
						<a href="#" target="_blank" rel="noopener noreferrer" 
						   class="absolute top-4 right-4 w-14 h-14 bg-white/20 backdrop-blur-sm rounded-full flex items-center justify-center text-white hover:bg-bsn-blue hover:scale-110 transition-all duration-200 opacity-0 group-hover:opacity-100" 
						   aria-label="Lauren LinkedIn">
							<svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
								<path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
							</svg>
						</a>
						<div class="absolute bottom-0 left-0 right-0 p-4 text-white transform translate-y-2 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-300">
							<p class="text-sm font-medium opacity-90">Major TBD</p>
							<p class="text-xs opacity-80 mt-1">Class of 2028</p>
						</div>
					</div>
					<div class="text-center space-y-1">
						<h3 class="text-lg font-bold text-white font-display group-hover:text-bsn-light-blue transition-colors duration-200">
							Lauren Naseib
						</h3>
						<p class="text-sm text-gray-200 font-medium leading-tight">
							Director of Student Recruitment
						</p>
					</div>
				</div>

				<!-- Reese -->
				<div class="team-card group cursor-pointer">
					<div class="relative overflow-hidden rounded-2xl aspect-square mb-4">
						<img src={`${baseUrl}headshots/reese.png`} alt="Reese" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110">
						<div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
						<a href="#" target="_blank" rel="noopener noreferrer" 
						   class="absolute top-4 right-4 w-14 h-14 bg-white/20 backdrop-blur-sm rounded-full flex items-center justify-center text-white hover:bg-bsn-blue hover:scale-110 transition-all duration-200 opacity-0 group-hover:opacity-100" 
						   aria-label="Reese LinkedIn">
							<svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
								<path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
							</svg>
						</a>
						<div class="absolute bottom-0 left-0 right-0 p-4 text-white transform translate-y-2 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-300">
							<p class="text-sm font-medium opacity-90">Business Economics</p>
							<p class="text-xs opacity-80 mt-1">Class of 2028</p>
						</div>
					</div>
					<div class="text-center space-y-1">
						<h3 class="text-lg font-bold text-white font-display group-hover:text-bsn-light-blue transition-colors duration-200">
							Reese Morio
						</h3>
						<p class="text-sm text-gray-200 font-medium leading-tight">
							Director of Marketing
						</p>
					</div>
				</div>

				<!-- Renee -->
				<div class="team-card group cursor-pointer">
					<div class="relative overflow-hidden rounded-2xl aspect-square mb-4">
						<img src={`${baseUrl}headshots/Renee.png`} alt="Renee" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110">
						<div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
						<a href="#" target="_blank" rel="noopener noreferrer" 
						   class="absolute top-4 right-4 w-14 h-14 bg-white/20 backdrop-blur-sm rounded-full flex items-center justify-center text-white hover:bg-bsn-blue hover:scale-110 transition-all duration-200 opacity-0 group-hover:opacity-100" 
						   aria-label="Renee LinkedIn">
							<svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
								<path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
							</svg>
						</a>
						<div class="absolute bottom-0 left-0 right-0 p-4 text-white transform translate-y-2 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-300">
							<p class="text-sm font-medium opacity-90">Business Economics</p>
							<p class="text-xs opacity-80 mt-1">Class of 2028</p>
						</div>
					</div>
					<div class="text-center space-y-1">
						<h3 class="text-lg font-bold text-white font-display group-hover:text-bsn-light-blue transition-colors duration-200">
							Renee Yan
						</h3>
						<p class="text-sm text-gray-200 font-medium leading-tight">
							Director of Finance
						</p>
					</div>
				</div>

				<!-- Jun -->
				<div class="team-card group cursor-pointer">
					<div class="relative overflow-hidden rounded-2xl aspect-square mb-4">
						<img src={`${baseUrl}headshots/Jun.png`} alt="Jun" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110">
						<div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
						<a href="#" target="_blank" rel="noopener noreferrer" 
						   class="absolute top-4 right-4 w-14 h-14 bg-white/20 backdrop-blur-sm rounded-full flex items-center justify-center text-white hover:bg-bsn-blue hover:scale-110 transition-all duration-200 opacity-0 group-hover:opacity-100" 
						   aria-label="Jun LinkedIn">
							<svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
								<path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
							</svg>
						</a>
						<div class="absolute bottom-0 left-0 right-0 p-4 text-white transform translate-y-2 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-300">
							<p class="text-sm font-medium opacity-90">Statistics and Data Science</p>
							<p class="text-xs opacity-80 mt-1">Class of 2028</p>
						</div>
					</div>
					<div class="text-center space-y-1">
						<h3 class="text-lg font-bold text-white font-display group-hover:text-bsn-light-blue transition-colors duration-200">
							Jun Moon
						</h3>
						<p class="text-sm text-gray-200 font-medium leading-tight">
							Director of Engagement
						</p>
					</div>
				</div>

				<!-- Sydney -->
				<div class="team-card group cursor-pointer">
					<div class="relative overflow-hidden rounded-2xl aspect-square mb-4">
						<img src={`${baseUrl}headshots/Sydney.png`} alt="Sydney" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110">
						<div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
						<a href="#" target="_blank" rel="noopener noreferrer" 
						   class="absolute top-4 right-4 w-14 h-14 bg-white/20 backdrop-blur-sm rounded-full flex items-center justify-center text-white hover:bg-bsn-blue hover:scale-110 transition-all duration-200 opacity-0 group-hover:opacity-100" 
						   aria-label="Sydney LinkedIn">
							<svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
								<path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
							</svg>
						</a>
						<div class="absolute bottom-0 left-0 right-0 p-4 text-white transform translate-y-2 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-300">
							<p class="text-sm font-medium opacity-90">Political Science and Economics</p>
							<p class="text-xs opacity-80 mt-1">Class of 2028</p>
						</div>
					</div>
					<div class="text-center space-y-1">
						<h3 class="text-lg font-bold text-white font-display group-hover:text-bsn-light-blue transition-colors duration-200">
							Sydney Lin
						</h3>
						<p class="text-sm text-gray-200 font-medium leading-tight">
							Director of Professional Relations
						</p>
					</div>
				</div>

			</div>
		</div>
	</section>

	<!-- Consultants Section -->
	<section class="py-20 bg-white relative overflow-hidden">
		<!-- Background Pattern -->
		<div class="absolute inset-0" style={`background-image: url('${baseUrl}ourteambg2.jpg'); background-size: cover; background-position: center; background-attachment: fixed; background-repeat: no-repeat;`}></div>
		<div class="absolute inset-0 bg-white/90"></div>

		<div class="relative z-10 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="text-center mb-16">
				<h2 class="text-4xl lg:text-5xl font-bold text-bsn-navy font-display mb-6">
					Consultants
				</h2>
			</div>

			<!-- Consultants by Cohort -->
			{consultantCohorts.map((cohortData) => (
				<div class="mb-16">
					<!-- Cohort Header -->
					<div class="text-center mb-8">
						<h3 class="text-2xl lg:text-3xl font-bold text-bsn-dark-navy font-display mb-4">
							{cohortData.cohort}
						</h3>
					</div>
					
					<!-- Management Section -->
					{cohortData.management.length > 0 && (
						<div class="mb-12">
							<h4 class="text-xl font-semibold text-bsn-blue mb-6 text-center">Management Track</h4>
							<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
								{cohortData.management.map((consultant) => (
									<div class="team-card group cursor-pointer">
										<!-- Avatar with Overlay -->
										<div class="relative overflow-hidden rounded-2xl aspect-square mb-4">
											<img 
												src={`${baseUrl}consultants/${consultant.image}.png`} 
												alt={consultant.name}
												class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
											/>
											<!-- Gradient Overlay -->
											<div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
											<!-- LinkedIn Icon -->
											<a href={consultant.linkedin || "#"} target="_blank" rel="noopener noreferrer" 
											   class="absolute top-4 right-4 w-12 h-12 bg-white/20 backdrop-blur-sm rounded-full flex items-center justify-center text-white hover:bg-bsn-blue hover:scale-110 transition-all duration-200 opacity-0 group-hover:opacity-100" 
											   aria-label={`${consultant.name} LinkedIn`}>
												<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
													<path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
												</svg>
											</a>
											<!-- Info Overlay -->
											<div class="absolute bottom-0 left-0 right-0 p-3 text-white transform translate-y-2 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-300">
												<p class="text-xs font-medium opacity-90 leading-tight">{consultant.major}</p>
												<p class="text-xs opacity-80 mt-1">Class of {consultant.year}</p>
											</div>
										</div>
										<!-- Name and Title -->
										<div class="text-center space-y-1">
											<h5 class="text-sm font-bold text-bsn-navy font-display group-hover:text-bsn-blue transition-colors duration-200">
												{consultant.name}
											</h5>
											<p class="text-xs text-gray-600 font-medium">
												Management Consultant
											</p>
										</div>
									</div>
								))}
							</div>
						</div>
					)}
					
					<!-- Health Section -->
					{cohortData.health.length > 0 && (
						<div class="mb-8">
							<h4 class="text-xl font-semibold text-bsn-blue mb-6 text-center">Health Track</h4>
							<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
								{cohortData.health.map((consultant) => (
									<div class="team-card group cursor-pointer">
										<!-- Avatar with Overlay -->
										<div class="relative overflow-hidden rounded-2xl aspect-square mb-4">
											<img 
												src={`${baseUrl}consultants/${consultant.image}.png`} 
												alt={consultant.name}
												class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
											/>
											<!-- Gradient Overlay -->
											<div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
											<!-- LinkedIn Icon -->
											<a href={consultant.linkedin || "#"} target="_blank" rel="noopener noreferrer" 
											   class="absolute top-4 right-4 w-12 h-12 bg-white/20 backdrop-blur-sm rounded-full flex items-center justify-center text-white hover:bg-bsn-blue hover:scale-110 transition-all duration-200 opacity-0 group-hover:opacity-100" 
											   aria-label={`${consultant.name} LinkedIn`}>
												<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
													<path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
												</svg>
											</a>
											<!-- Info Overlay -->
											<div class="absolute bottom-0 left-0 right-0 p-3 text-white transform translate-y-2 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-300">
												<p class="text-xs font-medium opacity-90 leading-tight">{consultant.major}</p>
												<p class="text-xs opacity-80 mt-1">Class of {consultant.year}</p>
											</div>
										</div>
										<!-- Name and Title -->
										<div class="text-center space-y-1">
											<h5 class="text-sm font-bold text-bsn-navy font-display group-hover:text-bsn-blue transition-colors duration-200">
												{consultant.name}
											</h5>
											<p class="text-xs text-gray-600 font-medium">
												Health Consultant
											</p>
										</div>
									</div>
								))}
							</div>
						</div>
					)}
				</div>
			))}
		</div>
	</section>

	<script>
		// GSAP animations
		if (typeof gsap !== 'undefined') {
			gsap.registerPlugin(ScrollTrigger);

			// Animate team cards on scroll
			gsap.fromTo(".team-card", 
				{ opacity: 0, y: 50, scale: 0.9 }, 
				{
					opacity: 1,
					y: 0,
					scale: 1,
					duration: 0.8,
					ease: "power2.out",
					stagger: 0.1,
					scrollTrigger: {
						trigger: ".executive-grid",
						start: "top 80%",
						end: "bottom 20%",
						toggleActions: "play none none reverse"
					}
				}
			);

			// Parallax effect for background
			gsap.to(".parallax-bg", {
				yPercent: -50,
				ease: "none",
				scrollTrigger: {
					trigger: ".parallax-bg",
					start: "top bottom",
					end: "bottom top",
					scrub: true
				}
			});
		}
	</script>
</Layout>